body{
	background-color: #d3d3d3;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

span input{
	display: block;
	background-color: transparent;
}

input{
	type: text;
	text-align: center;
	border: 2px solid black;
	padding: 0.6em;
	
}
input[type=number]{
	background-color: transparent;
	border: 2px solid black;
	padding: 0.6em;
}

textarea{
	type: text;
	border: 2px solid black;
	background-color: transparent;
	font-size: 1em;
	padding: 0.3em;
}

h3{
	margin-bottom: 0px;
}


#info{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#weapons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#WeaponText{
	type: text;
	text-align: center;
}

.AttributeBox{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.CenterBox{
	display: block;
	margin: auto;
	width: 8vw;
}

.Attribute {
	border: 2px solid black;
	border-radius: 100px;
	height: 4vh;
	width: 30vw
}


.Attribute input{
	display: inline-block;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	text-align: center;
	font-size: 25px;
}


.ModifierBox {
	border: 2px solid black;
	border-radius: 200px;
	width: 20vw;
	height: 3vh;
	margin-left: 2px;
	margin-top: 10px;
}

.ModifierBox input{
	display: inline-block;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
}

.ACBox {
	border: 2px solid black;
	border-radius: 30px;
	width: 1.2vw;
	height: 1.2vh;
}


.ACBox input{
	display: inline-block;
	width: 60%;
	height: 50%;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 40px;
	padding-right: 0px;
}

#AC .ACBox{
	display: block;
	margin: auto;
	width: 120px;
	height: 120px;
	padding: auto;
}

#AC h2{
	text-align: center;
	margin-bottom: 2px;
}

.Saving_Throws_Skills{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Saving_Throws_Skills input{
	background-color: transparent;
	border: none;
	width: 35px;
	font-size: 15px;
}

.Saving_Throws_Skills input[type="checkbox"]{
	margin: 0px;
}

.BoxNextToText{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.SquareBox{
	border: 2px solid black;
	border-radius: 10px;
	width: 60px;
	height: 60px;
}

.SquareBox input{
	display: inline-block;
	width: 60%;
	height: 50%;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 25px;
	padding-left: 13px;
}

.SquareBox2{
	border: 2px solid black;
	border-radius: 60px;
	width: 60px;
	height: 60px;
}

.SquareBox2 input{
	display: inline-block;
	width: 60%;
	height: 50%;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 25px;
	padding-left: 13px;
}

.TextBorder{
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	margin-left: 2px;
}

.TextBorder2{
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	margin-top: 5px;
	margin-left: 2px;
}

#SkillBorder{
	border: 2px solid black;
	border-radius: 10px;
	width: 174px;
	margin-top: 50px;
}

#SkillBorder input{
	display: column;
	background-image: linear-gradient(to top, black 0px, transparent 1px);
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}



/*based on https://simplednd.wordpress.com/creating-characters/character-sheet/#jp-carousel-2095 */